*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100svh;
    display: grid;
    place-items: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    text-align: center;
    color: #e8fdfb;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-shadow: 0 8px 25px rgba(0,0,0,0.35);
}

.card{
    width: 100%;
    max-width: 500px;
    padding: 55px 38px;
    border-radius: 22px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    color:#fff;
    text-align: center;
    background: rgba(50, 50, 50, 0.45);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.15);
}

form{
    display:flex;
    flex-direction:column;
    gap:8px;
}

label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #b2dfdb;
    margin-bottom: 6px;
    letter-spacing: 0.5px;
}

input{
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.9);
    color: #000;
    font-size: 14px;
}

input:focus{
    border: 2px solid #00c9a7;
}

span{
    display: block;
    text-align:left;
    font-size: 11px;
    font-weight: 700;
    color: #FF0000;
    margin-top: 4px;
    margin-bottom: 7px;
    padding-left: 4px;
    letter-spacing: 0.2px;
}

button{
    margin-top: 12px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #00c9a7, #007f73);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
    background: linear-gradient(135deg, #00e6c3, #009688);
}

@media (max-width: 480px){
    .card{
        max-width: 100%;
        padding: 60px 34px;
        min-height: 78svh;
    }

    h1{
        font-size: 36px;
    }

    input{
        padding: 14px 18px;
        font-size: 15px;
    }

    button{
        padding: 14px;
        font-size: 16px;
    }
}